<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <form action="/" method="GET">
            <h2>Search For a UserName</h2>
            <label for="search">Username: </label>
            <input type="text" name="search" id="search" />
            <button type="submit">Submit</button>
        </form>
        <form action="/" method="POST">
            <button type="submit" onclick="confirm(`Deleting all users. Are you sure whatever you're doing is worth it?`);">Delete all users</button>
        </form>
        <% if (locals.users) { %>
            <ul>
                <% users.map((user) => { %>
                    <li><%= user.username %></li>
                <% }) %>
            </ul>
        <% } %>
    </body>
</html>